fairseq; platform_system != "Windows"
fairseq@https://github.com/Sharrnah/fairseq/releases/download/v0.12.4/fairseq-0.12.4-cp310-cp310-win_amd64.whl; platform_system == "Windows"
audiolm-pytorch
gradio
funcy
linkify
mutagen
pytorch_seed
pyyaml
sentencepiece
soundfile; platform_system == "Windows"
sox; platform_system != "Windows"
transformers